body { 

  background-color: blue;
  padding-left: 10em;
  font-family: 'Noto Sans JP', sans-serif;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
